# Create training samples

Here I did not filter with air temperature. I think the training data should be diverse enough that should cover the summer period where the algal bloom occurs. If we did not include images from summer, there's a risk for the model to mis-classify algal bloom pixels as ice pixels as the model never seen algal bloom optical pattern before.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import glob
import geemap
import ee
import rasterio
import contextlib
from p_tqdm import p_map

In [2]:
ee.Authenticate()
ee.Initialize(project="ee-sarice")

In [3]:
def get_match_table(lake_id,
                    save_dir = "/home/xinchenh/Work/sentinel1ice/data/match_tables"
                   ):

    # hydrolakes
    hydrolakes = ee.FeatureCollection("projects/ee-lakeice/assets/HydroLAKES_polys_v10")        
    aoi = hydrolakes.filterMetadata('Hylak_id', 'equals', lake_id)
    roi = aoi.geometry()

    # Load SENTINEL-1
    s1 = ee.ImageCollection('COPERNICUS/S1_GRD') \
            .filter(ee.Filter.eq('instrumentMode', 'IW')) \
            .filter(ee.Filter.listContains('transmitterReceiverPolarisation', 'VV')) \
            .filter(ee.Filter.listContains('transmitterReceiverPolarisation', 'VH')) \
            .filterBounds(roi)
    # speckle filter
    s1_with_dates = s1.map(lambda image: image.set('date', 
                                                   ee.Date(image.get('system:time_start')).format('YYYY-MM-dd HH:mm:ss')))

    # SENTINEL-2
    s2 = ee.ImageCollection('COPERNICUS/S2_SR_HARMONIZED') \
            .filterBounds(roi) \
            .filter(ee.Filter.lt('CLOUDY_PIXEL_PERCENTAGE',50))

    s2_with_dates = s2.map(lambda image: image.set('date',
                                                    ee.Date(image.get('system:time_start')).format('YYYY-MM-dd HH:mm:ss')))

    # get dates
    s1_dates = pd.to_datetime(s1_with_dates.aggregate_array("date").getInfo())
    s2_dates = pd.to_datetime(s2_with_dates.aggregate_array("date").getInfo())

    # get granule ids
    s1_system_ids = s1_with_dates.aggregate_array("system:id").getInfo()
    s2_system_ids = s2_with_dates.aggregate_array("system:id").getInfo()
    s2_granule_ids = s2_with_dates.aggregate_array("GRANULE_ID").getInfo()
    
    # create 2 df for s1 and s2
    s1_df = pd.DataFrame(zip(s1_dates.to_list(), s1_system_ids), 
                         columns = ["s1_dates", "s1_system_ids"])
    s2_df = pd.DataFrame(zip(s2_dates.to_list(), s2_system_ids, s2_granule_ids), 
                         columns = ["s2_dates", "s2_system_ids", "s2_granule_ids"])
    
    # Find sentinel-2 image that was acquired < 12 hour to the sentinel-1 image
    def lookfor_sen2(sen1_date, 
                     sen2_dates = s2_dates, # list of dates of avaialble sentinel-2 images
                     delta_hr = 12):
        # find all times that has less than 12 hour interval to the sentinel-2 image
        intervals = np.abs(sen2_dates - sen1_date)
        indexes = intervals < pd.Timedelta(f"{delta_hr}H")

        # get the dates
        match_sen2_date = sen2_dates[indexes]

        if len(match_sen2_date) == 0:
            return None
        else:
            return match_sen2_date

    # create a match table between sentinel-1 dates and sentinel-2 dates
    match_table = s1_df.copy()
    match_table["s2_dates"] = match_table["s1_dates"].apply(lookfor_sen2)
    match_table = match_table.dropna().reset_index(drop = True).explode("s2_dates")
    match_table = match_table.merge(s2_df, on = "s2_dates")

    # save the match table
    match_table.to_csv(f"{save_dir}/{lake_id}_match_table.csv")

    return match_table

In [5]:
training_lake_ids = pd.read_csv("data/training_lakes.csv").Hylak_id.to_list()

In [8]:
for hylak_id in training_lake_ids:
    get_match_table(hylak_id)
    print(hylak_id, "match table created")

137 match table created
168 match table created
212 match table created
238 match table created
257 match table created
287 match table created
673 match table created
892 match table created
959 match table created
1286 match table created
1354 match table created
1362 match table created
1367 match table created
1370 match table created
1375 match table created
1387 match table created
1397 match table created
1402 match table created
1407 match table created
1413 match table created
1421 match table created
1429 match table created
1430 match table created
1444 match table created
1448 match table created
1523 match table created
1536 match table created
1539 match table created
1552 match table created
1560 match table created
1615 match table created
1678 match table created
1763 match table created
1771 match table created
1807 match table created
1814 match table created
1864 match table created
1869 match table created
1988 match table created
2072 match table created
2162 match table created
2237 match table created
2266 match table created
2318 match table created
2371 match table created
2374 match table created
2441 match table created
2447 match table created
2553 match table created
2581 match table created
2638 match table created
2647 match table created
2680 match table created
2688 match table created
2701 match table created
2838 match table created
2864 match table created
2867 match table created
2967 match table created
3244 match table created
3280 match table created
3281 match table created
3480 match table created
3503 match table created
3547 match table created
3693 match table created
3861 match table created
3893 match table created
4098 match table created
4110 match table created
4111 match table created
4127 match table created
4695 match table created
4850 match table created
5157 match table created
5278 match table created
5409 match table created
5624 match table created
5692 match table created
5700 match table created
6171 match table created
6491 match table created
6632 match table created
6721 match table created
6975 match table created
7314 match table created
7466 match table created
7570 match table created
7822 match table created
7988 match table created
8029 match table created
8065 match table created
8159 match table created
8192 match table created
8353 match table created
8369 match table created
8406 match table created
8473 match table created
8661 match table created
8786 match table created
8830 match table created
8840 match table created
9275 match table created
9308 match table created
9356 match table created
9378 match table created
9382 match table created
9397 match table created
9400 match table created
9447 match table created
9460 match table created
9476 match table created
9526 match table created
9594 match table created
9613 match table created
9620 match table created
9762 match table created
9952 match table created
10007 match table created
10009 match table created
10033 match table created
10059 match table created
10239 match table created
10306 match table created
10345 match table created
10353 match table created
10363 match table created
10372 match table created
10392 match table created
10473 match table created
10479 match table created
10800 match table created
10872 match table created
11159 match table created
11422 match table created
11817 match table created
12143 match table created
12178 match table created
12379 match table created
12476 match table created
12558 match table created
12845 match table created
12886 match table created
12983 match table created
13001 match table created
13259 match table created
13314 match table created
13445 match table created
13499 match table created
13540 match table created
13718 match table created
13849 match table created
13914 match table created
13942 match table created
14038 match table created
14121 match table created
14131 match table created
14290 match table created
14329 match table created
14340 match table created
14359 match table created
14401 match table created
14430 match table created
14436 match table created
14440 match table created
14473 match table created
14525 match table created
14557 match table created
14592 match table created
14599 match table created
14628 match table created
14694 match table created
14724 match table created
14775 match table created
14794 match table created
14828 match table created
14837 match table created
14847 match table created
14849 match table created
14872 match table created
14886 match table created
14896 match table created
14899 match table created
14901 match table created
14924 match table created
14930 match table created
14933 match table created
14940 match table created
14942 match table created
14945 match table created
14954 match table created
14966 match table created
15001 match table created
15007 match table created
15023 match table created
15027 match table created
15039 match table created
15050 match table created
15053 match table created
15061 match table created
15078 match table created
15092 match table created
15109 match table created
15115 match table created
15117 match table created
15170 match table created
15176 match table created
15178 match table created
15210 match table created
15264 match table created
15309 match table created
15333 match table created
15342 match table created
15344 match table created
15345 match table created
15347 match table created
15393 match table created
15408 match table created
15423 match table created
15424 match table created
15437 match table created
15497 match table created
15564 match table created
15572 match table created
15576 match table created
15608 match table created
15618 match table created
15622 match table created
15624 match table created
15734 match table created
15746 match table created
15758 match table created
15841 match table created
15871 match table created
15880 match table created
15892 match table created
15995 match table created
16012 match table created
16120 match table created
16122 match table created
16186 match table created
16357 match table created
16407 match table created
16423 match table created
16539 match table created
16679 match table created
16680 match table created
17254 match table created
17261 match table created
17327 match table created
17347 match table created
17434 match table created
17552 match table created
17560 match table created
17660 match table created
17827 match table created
17873 match table created
17876 match table created
17962 match table created
18025 match table created
18130 match table created
18220 match table created
18447 match table created
18588 match table created
18610 match table created
18723 match table created
18779 match table created
18783 match table created
18850 match table created
18864 match table created
18927 match table created
19121 match table created
19145 match table created
19312 match table created
19451 match table created
19692 match table created
20048 match table created
20345 match table created
20355 match table created
20453 match table created
20635 match table created
20753 match table created
20845 match table created
20943 match table created
21073 match table created
21189 match table created
21388 match table created
21426 match table created
21491 match table created
21630 match table created
21782 match table created
21796 match table created
21884 match table created
21894 match table created
22113 match table created
22135 match table created
22272 match table created
22483 match table created
22562 match table created
22598 match table created
22827 match table created
22953 match table created
23036 match table created
23208 match table created
23225 match table created
23248 match table created
23418 match table created
23621 match table created
23689 match table created
24217 match table created
24603 match table created
24643 match table created
24857 match table created
24903 match table created
24996 match table created
25104 match table created
25256 match table created
25340 match table created
25364 match table created
25547 match table created

25562 match table created
25722 match table created
25751 match table created
25795 match table created
25821 match table created
25899 match table created
26043 match table created
26510 match table created
26550 match table created
26575 match table created
26589 match table created
26601 match table created
26730 match table created
26744 match table created
26779 match table created
26796 match table created
27135 match table created
27396 match table created
27436 match table created
27506 match table created
27834 match table created
27860 match table created
28022 match table created
28143 match table created
28173 match table created
28309 match table created
28490 match table created
28607 match table created
28628 match table created
28790 match table created
28817 match table created
28967 match table created
29064 match table created
29135 match table created
29394 match table created
29400 match table created
29550 match table created
30007 match table created
30119 match table created
30159 match table created
30329 match table created
30340 match table created
30453 match table created
30701 match table created
30805 match table created
30896 match table created
31008 match table created
31101 match table created
31127 match table created
31155 match table created
31305 match table created
31466 match table created
31495 match table created
31554 match table created
31752 match table created
31780 match table created
31909 match table created
31922 match table created
32093 match table created
32098 match table created
32111 match table created
32371 match table created
32438 match table created
32500 match table created
32554 match table created
32589 match table created
32664 match table created
32958 match table created
33063 match table created
33266 match table created
33650 match table created
34007 match table created
34020 match table created
34382 match table created
34564 match table created
34585 match table created
34602 match table created
34664 match table created
34712 match table created
34809 match table created
34896 match table created
34973 match table created
35207 match table created
35275 match table created
35344 match table created
35558 match table created
35637 match table created
35763 match table created
35770 match table created
35793 match table created
35891 match table created
35894 match table created
35919 match table created
36336 match table created
36373 match table created
36388 match table created
36965 match table created
37209 match table created
37420 match table created
37430 match table created
37611 match table created
37749 match table created
37960 match table created
38666 match table created
38673 match table created
38799 match table created
39020 match table created
39252 match table created
39324 match table created
39358 match table created
39426 match table created
39441 match table created
39447 match table created
39562 match table created
39795 match table created
39920 match table created
39924 match table created
39968 match table created
40132 match table created
40319 match table created
40413 match table created
40417 match table created
40544 match table created
40680 match table created
40758 match table created
40816 match table created
40860 match table created
41018 match table created
41236 match table created
41289 match table created
41349 match table created
41418 match table created
41451 match table created
41599 match table created
41610 match table created
41669 match table created
41750 match table created
41866 match table created
41976 match table created
41987 match table created
42167 match table created
42267 match table created
42557 match table created
42608 match table created
42691 match table created
42851 match table created
42898 match table created
42945 match table created
42967 match table created
43047 match table created
43220 match table created
43266 match table created
43302 match table created
43689 match table created
43763 match table created
44009 match table created
44022 match table created
44419 match table created
44601 match table created
45144 match table created
45187 match table created
45616 match table created
45719 match table created
46368 match table created
46795 match table created
46832 match table created
46944 match table created
47268 match table created
47402 match table created
47570 match table created
47679 match table created
47700 match table created
47720 match table created
47786 match table created
47995 match table created
48036 match table created
48224 match table created
48401 match table created
48451 match table created
48453 match table created
48662 match table created
48663 match table created
48875 match table created
49310 match table created
49331 match table created
49337 match table created
49436 match table created
49652 match table created
49666 match table created
49740 match table created
49833 match table created
49930 match table created
49996 match table created
50343 match table created
50505 match table created
50625 match table created
50938 match table created
51313 match table created
51660 match table created
51771 match table created
51984 match table created
52090 match table created
52157 match table created
52531 match table created
52594 match table created
52843 match table created
52895 match table created
52900 match table created
53161 match table created
53218 match table created
53238 match table created
53241 match table created
53284 match table created
53297 match table created
53636 match table created
53665 match table created
54004 match table created
54042 match table created
54058 match table created
54246 match table created
54288 match table created
54663 match table created
54693 match table created
54920 match table created
54924 match table created
54964 match table created
54993 match table created
55072 match table created
55325 match table created
55347 match table created
55682 match table created
55796 match table created
55878 match table created
56095 match table created
56333 match table created
57398 match table created
57827 match table created
57896 match table created
57900 match table created
57936 match table created
58102 match table created
58189 match table created
58498 match table created
58620 match table created
58698 match table created
58774 match table created
58909 match table created
58918 match table created
59133 match table created
59273 match table created
59901 match table created
60072 match table created
60212 match table created
60391 match table created
60583 match table created
60611 match table created
60691 match table created
60887 match table created
60928 match table created
60967 match table created
61011 match table created
61299 match table created
61789 match table created
61845 match table created
62138 match table created
62400 match table created
62631 match table created
62713 match table created
62751 match table created
62788 match table created
62870 match table created
62965 match table created
63054 match table created
63107 match table created
63113 match table created
63482 match table created
63578 match table created
63628 match table created
63629 match table created
63655 match table created
63830 match table created
63860 match table created
64093 match table created
64264 match table created
64331 match table created
64452 match table created
64660 match table created
64890 match table created
65038 match table created
65209 match table created
65286 match table created
65621 match table created
65694 match table created
65771 match table created
66003 match table created
66023 match table created
66403 match table created
66515 match table created
66581 match table created
66829 match table created
66868 match table created
66915 match table created
67118 match table created
67201 match table created
67225 match table created
67385 match table created
67458 match table created
67467 match table created
67525 match table created
67874 match table created
67926 match table created
68068 match table created
68296 match table created
68477 match table created
68781 match table created
69225 match table created

69253 match table created
69505 match table created
69888 match table created
69953 match table created
69965 match table created
70503 match table created
70617 match table created
71049 match table created
71163 match table created
71324 match table created
71932 match table created
71993 match table created
72025 match table created
72058 match table created
72406 match table created
72908 match table created
72978 match table created
73222 match table created
73397 match table created
73634 match table created
73826 match table created
73859 match table created
74101 match table created
74423 match table created
74523 match table created
74650 match table created
74706 match table created
74946 match table created
75069 match table created
75919 match table created
76037 match table created
76179 match table created
76305 match table created
76671 match table created
76679 match table created
76777 match table created
76830 match table created
76918 match table created
77840 match table created
77856 match table created
77913 match table created
78096 match table created
78400 match table created
78419 match table created
78711 match table created
78761 match table created
78778 match table created
78889 match table created
79263 match table created
79274 match table created
79464 match table created
79617 match table created
79684 match table created
79769 match table created
79906 match table created
80083 match table created
80085 match table created
80103 match table created
80331 match table created
80369 match table created
80445 match table created
80478 match table created
80984 match table created
81142 match table created
81318 match table created
81421 match table created
81782 match table created
81804 match table created
82124 match table created
82284 match table created
82329 match table created
82421 match table created
82448 match table created
82457 match table created
82565 match table created
82573 match table created
82848 match table created
83431 match table created
83469 match table created
83589 match table created
83678 match table created
83802 match table created
83823 match table created
83861 match table created
84116 match table created
84305 match table created
85297 match table created
85895 match table created
86171 match table created
86182 match table created
86486 match table created
87052 match table created
87059 match table created
87200 match table created
87396 match table created
87779 match table created
87926 match table created
88055 match table created
88854 match table created
88889 match table created
88979 match table created
89272 match table created
89512 match table created
90301 match table created
90314 match table created
90443 match table created
90627 match table created
90687 match table created
90738 match table created
90803 match table created
91037 match table created
91076 match table created
91093 match table created
91261 match table created
91359 match table created
91554 match table created
91779 match table created
92169 match table created
92317 match table created
92582 match table created
92671 match table created
92724 match table created
92728 match table created
92869 match table created
92905 match table created
93056 match table created
93380 match table created
93660 match table created
94015 match table created
94175 match table created
94236 match table created
94500 match table created
94603 match table created
94674 match table created
95105 match table created
95132 match table created
95570 match table created
95908 match table created
96047 match table created
96481 match table created
96609 match table created
96701 match table created
96767 match table created
96838 match table created
96922 match table created
97037 match table created
97088 match table created
97242 match table created
97268 match table created
97270 match table created
97309 match table created
97371 match table created
97398 match table created
97520 match table created
97662 match table created
97750 match table created
97788 match table created
98097 match table created
98259 match table created
98850 match table created
99580 match table created
99635 match table created
99814 match table created
99858 match table created
99984 match table created
100233 match table created
100610 match table created
100611 match table created
100647 match table created
100765 match table created
100863 match table created
101259 match table created
101348 match table created
101554 match table created
101741 match table created
101748 match table created
101949 match table created
102099 match table created
102142 match table created
102337 match table created
102494 match table created
102859 match table created
102961 match table created
102998 match table created
103057 match table created
103150 match table created
103246 match table created
103259 match table created
103358 match table created
103363 match table created
103615 match table created
103792 match table created
103809 match table created
103925 match table created
104172 match table created
104298 match table created
104349 match table created
104528 match table created
104702 match table created
104763 match table created
105019 match table created
105124 match table created
105140 match table created
105369 match table created
105489 match table created
105635 match table created
105785 match table created
105947 match table created
106070 match table created
106137 match table created
106165 match table created
106792 match table created
106866 match table created
107070 match table created
107195 match table created
107261 match table created
107288 match table created
107311 match table created
107770 match table created
107804 match table created
107912 match table created
108169 match table created
108410 match table created
108750 match table created
108957 match table created
109244 match table created
109680 match table created
110006 match table created
110665 match table created
110681 match table created
110978 match table created
111208 match table created
111221 match table created
111263 match table created
111330 match table created
111334 match table created
111351 match table created
111695 match table created
111698 match table created
111731 match table created
111830 match table created
111952 match table created
112242 match table created
112289 match table created
112439 match table created
112498 match table created
112508 match table created
112619 match table created
112652 match table created
112725 match table created
112756 match table created
112798 match table created
112806 match table created
112841 match table created
112894 match table created
112966 match table created
113068 match table created
113169 match table created
113180 match table created
113186 match table created
113230 match table created
113240 match table created
113268 match table created
113473 match table created
113517 match table created
113527 match table created
113529 match table created
113569 match table created
113573 match table created
113601 match table created
113615 match table created
113652 match table created
113653 match table created
113656 match table created
113931 match table created
113954 match table created
114082 match table created
114085 match table created
114122 match table created
114126 match table created
114215 match table created
114290 match table created
114586 match table created
114698 match table created
114817 match table created
114901 match table created
114927 match table created
114934 match table created
114950 match table created
115270 match table created
115276 match table created
115318 match table created
115707 match table created
115781 match table created
115807 match table created
115824 match table created
115827 match table created
116737 match table created
117091 match table created
117369 match table created
117386 match table created
117432 match table created
117465 match table created
117470 match table created
117481 match table created
117489 match table created
117541 match table created
117563 match table created
117700 match table created
117733 match table created

117754 match table created
117816 match table created
117821 match table created
117854 match table created
117856 match table created
117956 match table created
117962 match table created
117966 match table created
118013 match table created
118016 match table created
118022 match table created
118051 match table created
118098 match table created
118122 match table created
118129 match table created
118172 match table created
118204 match table created
118234 match table created
118256 match table created
118281 match table created
118313 match table created
118580 match table created
118594 match table created
118682 match table created
118942 match table created
119061 match table created
119169 match table created
119180 match table created
119412 match table created
119413 match table created
119416 match table created
119428 match table created
119521 match table created
119601 match table created
119640 match table created
119708 match table created
119733 match table created
119759 match table created
119766 match table created
119914 match table created
119935 match table created
120079 match table created
120465 match table created
120479 match table created
120565 match table created
120580 match table created
120587 match table created
120627 match table created
120910 match table created
121042 match table created
121136 match table created
121168 match table created
121179 match table created
121462 match table created
121551 match table created
121679 match table created
123445 match table created
125365 match table created
125670 match table created
126328 match table created
128379 match table created
128549 match table created
129076 match table created
129145 match table created
130001 match table created
130342 match table created
130624 match table created
132058 match table created
133091 match table created
133252 match table created
133289 match table created
133295 match table created
133334 match table created
134122 match table created
134209 match table created
134875 match table created
135263 match table created
136220 match table created
136359 match table created
136547 match table created
138109 match table created
138616 match table created
139210 match table created
139484 match table created
139977 match table created
140725 match table created
141137 match table created
141282 match table created
141956 match table created
142508 match table created
142541 match table created
143168 match table created
143656 match table created
144763 match table created
145341 match table created
146097 match table created
146106 match table created
146238 match table created
146301 match table created
146427 match table created
146998 match table created
147321 match table created
148180 match table created
148459 match table created
148502 match table created
148533 match table created
148809 match table created
149016 match table created
149023 match table created
149339 match table created
150681 match table created
150685 match table created
150904 match table created
151875 match table created
152426 match table created
152749 match table created
152885 match table created
153410 match table created
153493 match table created
153597 match table created
153965 match table created
154101 match table created
154743 match table created
154931 match table created
155085 match table created
155126 match table created
155183 match table created
155582 match table created
156538 match table created
156812 match table created
156846 match table created
156872 match table created
157074 match table created
157624 match table created
157754 match table created
157869 match table created
158173 match table created
158579 match table created
158583 match table created
158826 match table created
158928 match table created
159597 match table created
159607 match table created
160030 match table created
160059 match table created
160119 match table created
161340 match table created
161356 match table created
161364 match table created
161595 match table created
161862 match table created
161918 match table created
162098 match table created
162146 match table created
162676 match table created
162717 match table created
163005 match table created
163010 match table created
163662 match table created
163670 match table created
164044 match table created
164502 match table created
165082 match table created
165894 match table created
166172 match table created
166318 match table created
167031 match table created
167038 match table created
167257 match table created
167822 match table created
167953 match table created
167970 match table created
168039 match table created
168079 match table created
168194 match table created
168197 match table created
168303 match table created
168541 match table created
168852 match table created
168861 match table created
169040 match table created
169180 match table created
169683 match table created
169717 match table created
169735 match table created
169814 match table created
169914 match table created
170017 match table created
170266 match table created
170551 match table created
170558 match table created
170643 match table created
170778 match table created
170794 match table created
170814 match table created
170819 match table created
170914 match table created
170970 match table created
170974 match table created
171301 match table created
171373 match table created
171499 match table created
171513 match table created
171600 match table created
171608 match table created
171609 match table created
171776 match table created
171777 match table created
171779 match table created
171845 match table created
171994 match table created
172096 match table created
172139 match table created
172223 match table created
172350 match table created
172367 match table created
172384 match table created
172490 match table created
172536 match table created
172539 match table created
172547 match table created
172576 match table created
172611 match table created
172708 match table created
172853 match table created
172907 match table created
172908 match table created
172971 match table created
172983 match table created
173199 match table created
173272 match table created
173333 match table created
173344 match table created
173411 match table created
173428 match table created
173443 match table created
173452 match table created
173559 match table created
173758 match table created
173859 match table created
173872 match table created
173921 match table created
173955 match table created
174030 match table created
174079 match table created
174107 match table created
174144 match table created
174158 match table created
174168 match table created
174174 match table created
174211 match table created
174255 match table created
174260 match table created
174288 match table created
174316 match table created
174348 match table created
174363 match table created
174462 match table created
174478 match table created
174488 match table created
174490 match table created
174491 match table created
174544 match table created
174564 match table created
174604 match table created
174620 match table created
174634 match table created
174640 match table created
174713 match table created
174721 match table created
174724 match table created
174725 match table created
174727 match table created
174761 match table created
174781 match table created
174796 match table created
174888 match table created
174903 match table created
174947 match table created
174983 match table created
174986 match table created
175002 match table created
175053 match table created
175074 match table created
175112 match table created
175132 match table created
175251 match table created
175332 match table created
175356 match table created
175404 match table created
175409 match table created
175425 match table created
175547 match table created
175582 match table created
175595 match table created
175602 match table created
175621 match table created
175664 match table created
175690 match table created
175745 match table created
175786 match table created
175800 match table created
175833 match table created
175845 match table created

175899 match table created
175924 match table created
176006 match table created
176028 match table created
176218 match table created
176298 match table created
176315 match table created
176352 match table created
176361 match table created
176507 match table created
176533 match table created
176539 match table created
176548 match table created
176639 match table created
176655 match table created
176660 match table created
176665 match table created
176667 match table created
176670 match table created
176681 match table created
176690 match table created
176691 match table created
176693 match table created
176694 match table created
176700 match table created
176715 match table created
176734 match table created
176778 match table created
176879 match table created
176925 match table created
176929 match table created
176943 match table created
176950 match table created
177016 match table created
177110 match table created
177194 match table created
177304 match table created
177404 match table created
177446 match table created
177450 match table created
177462 match table created
177469 match table created
177535 match table created
177562 match table created
177572 match table created
177590 match table created
177594 match table created
177772 match table created
177872 match table created
177913 match table created
177985 match table created
177992 match table created
178036 match table created
178078 match table created
178091 match table created
178103 match table created
178112 match table created
178115 match table created
178116 match table created
178159 match table created
178173 match table created
178194 match table created
178299 match table created
178336 match table created
178442 match table created
178463 match table created
178487 match table created
178596 match table created
178669 match table created
178818 match table created
178867 match table created
178936 match table created
179080 match table created
179091 match table created
179153 match table created
179160 match table created
179167 match table created
179175 match table created
179179 match table created
179183 match table created
179187 match table created
179190 match table created
179192 match table created
179200 match table created
179201 match table created
179217 match table created
179336 match table created
179478 match table created
180067 match table created
180341 match table created
180362 match table created
180480 match table created
180791 match table created
181148 match table created
181252 match table created
181568 match table created
182270 match table created
182413 match table created
182697 match table created
183015 match table created
183224 match table created
183361 match table created
184373 match table created
184409 match table created
184640 match table created
184667 match table created
184735 match table created
184743 match table created
184794 match table created
184894 match table created

In [22]:
# continue compute the cloud cover, ice cover (SCL), total area
s2_sys_ids = ee.List(match_table.s2_system_ids.to_list())
s2_img_col = s2_with_dates.filter(ee.Filter.inList('system:id',s2_sys_ids))
def get_scl_s2(img):
    # total valid pixel
    valid = img.select("SCL").neq(1).rename("total")
    # cloud, cloud shadow, dark
    cloud_high = img.select("SCL").eq(9)
    cloud_shadow = img.select("SCL").eq(3)
    dark_pixel = img.select("SCL").eq(2)
    cloud_mask = cloud_high.Or(cloud_shadow).Or(dark_pixel).rename("cloud")
    # ice
    ice_mask = img.select("SCL").eq(11).rename("ice")
    
    return valid.addBands(cloud_mask).addBands(ice_mask)

# get the layer of ice and cloud info
s2_bands = s2_img_col.map(get_scl_s2).toBands()

stats = s2_bands.reduceRegions(
    collection = aoi,
    reducer = ee.Reducer.sum(),
    scale = None,
)

In [44]:
# compute cloud cover for each image
stat_df = geemap.ee_to_df(stats).iloc[:, :-21].T
stat_df.columns = ["pixel_sum"]

In [45]:
stat_df["system_id"] = ["".join(stat_df.index[i].split("_")[:-1]) for i in range(len(stat_df))]
stat_df["pixel_type"] = [stat_df.index[i].split("_")[-1] for i in range(len(stat_df))]

In [48]:
# compute coverage
cloud_df =

                                          pixel_sum pixel_type
system_id
20190115T04413120190115T044130T46RBV       0.000000      cloud
20190115T04413120190115T044130T46RBV  273569.333333        ice
20190115T04413120190115T044130T46RBV  501412.776471      total
20190204T04400120190204T044305T46RBV       0.000000      cloud
20190204T04400120190204T044305T46RBV  151874.705882        ice
...                                             ...        ...
20240707T04370120240707T044634T46RBV       0.000000        ice
20240707T04370120240707T044634T46RBV  501412.776471      total
20240712T04365920240712T044748T46RBV       0.000000      cloud
20240712T04365920240712T044748T46RBV       0.000000        ice
20240712T04365920240712T044748T46RBV  501412.776471      total

[282 rows x 2 columns]